<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.ru/4_0/help">Rails Tutorial help page on rus</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.ru/chapters/4_0/beginning">Rails Tutorial book on rus</a>.
</p>