<footer class="footer">
  <small>
    Stream controller
    <a href="http://vk.com/belov_vlad">by Belov Vladislav</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.nwipbank.ru/ru/about">About</a></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>